

<html>
    <head>
        <style>
            .container{
                display: block;
                width: 100vw;
                position: relative;
            }

            .image{
                width: 100%;
                object-fit: cover;    
            }

            .text{
                top: 68%;
                left: 5%;
                color: white;
                position: absolute;
                font-size: 2em;
                color: #000A25;
            }
        </style>
    </head>
    <body>
        <a href="cambridge-results.com">
            <div class="container">
                <img src="./reset-password.png" alt="Cambridge Results" class="image">
                <h3 class="text">{{newPassword}}</h3>
                <h4>Test</h4>
            </div>
        </a>
    </body>
</html>